*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px dotted red;
}

section:first-of-type .main-container, section:nth-of-type(2) .main-container, section:nth-of-type(3) .main-container{
    display: flex;
justify-content: space-between;
flex-direction: row;
}

.main-container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

nav{
    height: 40px;
    background-color: blue;
}

 nav .main-container div{height: 100%;
background-color: midnightblue;
}

#logo, #accedi, #tasti div{
    width: 80px;
}

#tasti{
    display: flex;
}

header{background-color: blue;}

#jumbo-container{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
justify-content: space-between;
flex-direction: column;
padding-top: 80px;
padding-bottom: 70px;
text-align: center;
}

#jumbo-container h1{
    margin-bottom: 20px;
}

#jumbo-container p{
    margin-bottom: 10px;
}

#bottoni-jumbo{
    display: flex;
    gap: 10px;
    justify-content: center;
}

section{background-color: greenyellow;
padding-top: 70px;
padding-bottom: 70px;}

section:first-of-type, section:nth-of-type(2), section:nth-of-type(3){
    display: flex;
    justify-content: space-between;
}

section:first-of-type .ima, section:nth-of-type(2) .ima, section:nth-of-type(3) .ima{
    display: flex;
    width: 50%;
    height: 120px;
    background-color: green;
}

section:first-of-type .scritte, section:nth-of-type(2) .scritte, section:nth-of-type(3) .scritte{
    height: 120px;
    width: 45%;
}

.scritte h2{
    height: 60px;
    width: 100%;
    background-color: green;
    margin-bottom: 15px;
}

.scritte p{
    height: 45px;
    width: 100%;
    background-color: green;
}

section:last-of-type h2{
    height: 60px;
    width: 100%;
    background-color: green;
    margin-bottom: 15px;
}

section:last-of-type p{
    height: 45px;
    width: 100%;
    background-color: green;
    margin-bottom: 15px;
}

section:last-of-type .imag{
    height: 120px;
    width: 100%;
    margin-bottom: 15px;
    background-color: green;
}

section:last-of-type .main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#pronto{
    background-color: green;
    height: 20px;
    width: 70px;
    margin-bottom: 15px;
}

#scarica